:root {
    box-sizing: border-box;
  
    /* Variable colors */
    --primary-colorPurple: #520529;
    --primary-colorWhite: rgb(237, 234, 227);
    --primary-colorOrange: #ff9727;
    --shadow-orange: 0px 4px 15px rgba(25, 10, 3, 0.5);
    /* Variable transition */
    --general-transition: all 0.4s ease-in-out;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    list-style: none;
  }
  
  body {
    font-family: 'Lato', sans-serif;
    background-color: var(--primary-colorPurple);
    font-size: 1.1rem;
    color: var(--primary-colorWhite);
    transition: var(--general-transition);
  }

a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    font-family: inherit;
}

header {
    font-family: inherit;
    width: 100%;
    height: 100vh;
    padding: 2rem 1rem;
    overflow: hidden;
}

//sections

section {
  min-height: 100vh;
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  padding: 3rem 10rem; 
  transition: var(--general-transition);
}

.sec1 {
  display: none;
  transform: translateY(0) scale(1);
}

.sec2 {
  display: none;
  transform: translateY(0) scale(1);
}

.sec3 {
  display: none;
  transform: translateY(0) scale(1);
}

.sec4 {
  display: none;
  transform: translateY(0) scale(1);
}

.sec5 {
  display: none;
  transform: translateY(0) scale(1);
}

.active {
  display: block;
  animation: anim1 0.6s ease-in-out;
  @keyframes anim1 {
    0%{
      transform: translateY(-100%) scaleY(0) ;
    }
    100% {
      transform: translateX(0) scaleY(1);
    }
  }
}

//Controls

.controls {
  position: fixed;
  left: 50%;
  bottom: 5%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  transform: translateX(-50%);
  text-align: center;
  transition: all 0.4s ease-in-out;

  .control {
    margin: 0.3rem;
    font-size: 1.1rem;
    background-color: var(--primary-colorWhite);
    width: 55px;
    height: 55px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: var(--shadow-orange);
    text-align: center;
    i {
      font-size: 1.4rem;
      color: var(--primary-colorPurple);
      pointer-events: none;
      transition: all 0.2s ease-in-out;
    }
  }

  .active-btn {
    background-color: var(--primary-colorOrange) !important;
    cursor: default !important;
    > i {
      color: var(--primary-colorPurple) !important; 
      font-size: 1.8rem !important;
    }
  } 

  .control:hover > i {
    font-size: 1.8rem;
  }
}

//header
.header-content {
  display: grid;
  grid-template-columns: 45% 55%;
  height: 85%;
  width: 100%;
  transition: var(--general-transition);
  
  .header-left {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 100%;
    height: 100%;
    padding-left: 2rem;
    transition: var(--general-transition);

    .back-figure {
      position: absolute;
      left: 0;
      top: 0; 
      z-index: -1;
      width: 50%;
      height: 100%;
      background-color: var(--primary-colorWhite);
      clip-path: polygon(0 0, 72% 0, 22% 100%, 0% 100%);
      transition: var(--general-transition);
    }
    .image {
      width: 60%;
      height: 100%;
      margin-left: 10px;
      background-color: rgba(0, 0, 0, 0.8);
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
      transition: var(--general-transition);
      padding: 0px 5px;
      border-radius: 2%;
      &:hover {
        background: black;
        img {
          transform: scale(1.1);
        }
      }
  
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: var(--general-transition);
        filter: grayscale(100%);
        &:hover {
          filter: grayscale(0%);
        }
      }
    }
  }

  .header-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 2rem;
    width: 100%;
    height: 100%;
    transition: var(--general-transition);
    .first_impress {
      font-size: 2.5rem;
      padding-right: 2rem;
      font-weight: 600;
      span {
        color: var(--primary-colorOrange);
      }
    }
    
    .my_desc{
      padding: 1rem 4rem 1rem 0;
      line-height: 2rem;
      font-size: 1.1rem;
      text-align: justify;
      color: var(--primary-colorWhite);
    }
  }
}


//common element
.btn-container {
  display: flex;
  align-self: flex-start;
  .btn-link {
    border-radius: 30px;
    color: inherit;
    font-weight: 600;
    border: 2px solid var(--primary-colorOrange);
    position: relative;
    display: flex;
    align-items: center;
    align-self: center;
    overflow: hidden;
    .btn-text {
      padding: 0 0.6rem;
    }
    .btn-icon {
      display: flex;
      background-color: var(--primary-colorOrange);
      align-items: center;
      align-content: flex-end;
      padding: 0.6rem;
      border-radius: 50%;
    }
    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      transform: scaleX(0);
      z-index: -1;
    }
    &:hover {
      
      cursor: pointer;
      &::before {
        width: 100%;
        height: 100%;
        background-color: var(--primary-colorOrange);
        transform: scaleX(1);
        transition: var(--general-transition);
      }
      .btn-icon {
        i {
          animation: popAnim 0.8s ease-in-out infinite;
          @keyframes popAnim {
            0%{
              transform: scale(1.1) ;
            }
            50% {
              transform: scale(1.5);
            }
            100% {
              transform: scale(1);
            }
          }
        }
      }
    }
  }
}
